*.autosave
*.stash
*.log
*.pro.user*
*.Debug
*.Release
Makefile
qrc_icons.cpp
build*/*
doc/html/*
doc/latex/*
*~
*.orig
*.swp
pkg-config_wrapper.sh
compile_commands.json
*.user
*.arsct
release/*
scripts/*
pkg/*
*.pkg.tar.zst
*.vscode
/_*/
*.pyc
build*/
cmake-build*
*.user*
*.prof
*.vcxproj
*.sln
*.cmd
*.code-workspace
tags
